@import "../../responsive.scss";
.listPage {
  display: flex;
  height: 100%;

  .listContainer {
    flex: 3;
    height: 100%;

    .wrapper {
      height: 100%;
      padding-right: 45px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      padding-bottom: 50px;
      overflow-y: scroll;
      scrollbar-width: none;
      scrollbar-color: rgb(123, 119, 119) transparent;
     
    }
  }
  .mapContainer {
    flex: 2;
    height: 100%;
    background-color: #fcf5f3;

    @include md{
      display: none;
    }
  }
}
